cffi==1.17.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
flwr==1.10.0
grpcio==1.66.1
iterators==0.0.2
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
pathspec==0.12.1
protobuf==4.25.4
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.18.0
rich==13.8.0
shellingham==1.5.4
tomli==2.0.1
tomli_w==1.0.0
typer==0.9.4
typing_extensions==4.12.2
